# compiled files
*.o
*.class
*.jar
!gradle/wrapper/*
*.so
*.so.*
__pycache__

# build related files
build
experiments/build
experiments/resources

# data
eflect-logs
*.csv
*.log
*.pdf
*.txt

# Ignore Gradle project-specific cache directory
.gradle

.idea
